The Debian Package {{ component }}
----------------------------

Debian package for {{ component }}.
This package is maintained by Canonical Kubernetes Team.

 -- {{ full_name }} <{{ email }}>  {{ date }}
